body {
    text-align: center;
}

#table-environment {
    margin: 0 auto;
    display: none;
}

#table-environment,
#table-environment td {
    border: 1px solid #000;
}

#table-environment td {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.btn {
    padding: 10px 15px;
    background: #096ac7;
    color: #ffffff;
    border-radius: 7px;
    border: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #07427b;
}

.btn-next-step {
    margin-top: 30px;
    display: none;
}

.a {
    background: #ea2b2b;
    color: #fff;
}

.lo {
    background: #662A20;
    color: #fff;
}

.ls {
    background: #34A160;
    color: #fff;
}

.o {
    background: #924f44;
    color: #fff;
}

.s {
    background: #4aaf73;
    color: #fff;
}