body {
    text-align: center;
}

#config-ambiente table,
#config-ambiente table td {
    border: 0;
    text-align: left;
    padding-right: 15px;
}

body table {
    margin: 15px auto;
}

#ambiente > tbody > tr > td {
    min-width: 300px;
    vertical-align: baseline;
    padding: 0;
}

#app table,
#app table td {
    border: 1px solid #000;
}

#app table td {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
}

#painel table {
    margin: 0;
    width: 100%;
    text-align: center;
}

#painel .titulo {
    font-weight: bold;
}

.A {
    background: #ea2b2b;
    color: #fff;
}

.Lo {
    background: #662A20;
    color: #fff;
}

.Ls {
    background: #34A160;
    color: #fff;
}

.O {
    background: #924f44;
    color: #fff;
}

.S {
    background: #4aaf73;
    color: #fff;
}

.btn {
    padding: 7px 15px;
    margin-top: 15px;
    background: #096ac7;
    color: #ffffff;
    border-radius: 7px;
    border: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #07427b;
}

#proximo-passo {
    margin: 0 auto;
}